.DS_Store
.sass-cache
.jekyll-cache
.jekyll-metadata
.ruby-version
node_modules
_site
assets/img/smtk/creativeResources/Census_Apportionment_Full_h264.mp4
assets/img/smtk/creativeResources/data-quality-videos/Census Data Quality-Full_OC2.mp4
