<ul class="coil-team-list">
{% for member in site.data.coil-team %}

  <a name="{{ member.name }}"></a>

  <li class="coil-team-bio-content">
    <div class="usa-width-one-third">
      {% if member.photo %}
        <img src="{{ site.baseurl }}/assets/img/headshots/{{ member.photo }}" alt="{{ member.name }}">
      {% endif %}
      <p class="bio">
        <strong><a href="mailto:{{ member.email }}">{{ member.name }} {{ member.last_name }}</a></strong><br>
      </p>
    </div>
    <div class="usa-width-two-thirds">
      {% if member.bio %}
          <div class="bio">
          {{ member.bio }}
          </div>
    {% endif %}
    </div>
  </li>
{% endfor %}
</ul>
