<div class="map-viz">
  <div class="container">
    <div class="grid-container">
      {% for item in site.data.map-viz %}
        <div id="{{item.id}}" class="grid-square {{item.border}} {{item.color}}">
          <!-- {{forloop.index}} -->
        </div>
      {% endfor %}
    </div>
  </div>

  <h1 class="viz-header">viz testing </h1>
  <h1 class="viz-header">viz testing </h1>
  <h1 class="viz-header">viz testing </h1>
  <h1 class="viz-header">viz testing </h1>
  <h1 class="viz-header">viz testing </h1>
  <h1 class="viz-header">viz testing </h1>
</div>
