<div class="impact impact-map" id="hero">
  <div class="map-interior">
    <img id="map-scrolling-header-3" src="{{site.baseurl}}/assets/img/impact/Baby-Shark-Count-aisha-davis.gif" alt="Baby Shark gif that says Mama Counts, Daddy Counts, Grandpa Counts, Grandma Counts"/>
    <img id="map-scrolling-header-1" src="{{site.baseurl}}/assets/img/impact/our-population-Yumi-Sakugawa.png"/>
    <img id="map-scrolling-header-2" src="{{site.baseurl}}/assets/img/impact/CensusTreatYoSelf_sarah_malaika.jpg" alt=" " />
    <img id="map-scrolling-header-2" src="{{site.baseurl}}/assets/img/impact/Grandma-Says-I-count-jonatan-zuniga.png"/>
    <img id="map-scrolling-header-3" src="{{site.baseurl}}/assets/img/impact/first-responders-jonatan-zuniga.gif" alt=" " />

    <img id="map-scrolling-header-3" src="{{site.baseurl}}/assets/img/impact/SHARE-With-FIVE-PEOPLE-AWCA.png"/>
    <img id="map-scrolling-header-1" src="{{site.baseurl}}/assets/img/impact/LGBTQ+_Census_AZ_Meredith-Beed.png" alt=" " />
    <img id="map-scrolling-header-2" src="{{site.baseurl}}/assets/img/impact/The-Great-LA-Giveaway_Amanda_Liaw.gif" alt=" " />
    <img id="map-scrolling-header-3" src="{{site.baseurl}}/assets/img/impact/Baby-Shark-Count-aisha-davis.gif" alt="Baby Shark gif that says Mama Counts, Daddy Counts, Grandpa Counts, Grandma Counts"/>
    <img id="map-scrolling-header-1" src="{{site.baseurl}}/assets/img/impact/our-population-Yumi-Sakugawa.png"/>
    <img id="map-scrolling-header-2" src="{{site.baseurl}}/assets/img/impact/CensusTreatYoSelf_sarah_malaika.jpg" alt=" " />
    <img id="map-scrolling-header-2" src="{{site.baseurl}}/assets/img/impact/Grandma-Says-I-count-jonatan-zuniga.png"/>
    <img id="map-scrolling-header-3" src="{{site.baseurl}}/assets/img/impact/first-responders-jonatan-zuniga.gif" alt=" " />

    <img id="map-scrolling-header-3" src="{{site.baseurl}}/assets/img/impact/SHARE-With-FIVE-PEOPLE-AWCA.png"/>
    <img id="map-scrolling-header-1" src="{{site.baseurl}}/assets/img/impact/LGBTQ+_Census_AZ_Meredith-Beed.png" alt=" " />
    <img id="map-scrolling-header-2" src="{{site.baseurl}}/assets/img/impact/The-Great-LA-Giveaway_Amanda_Liaw.gif" alt=" " />
  </div>
</div>

<!-- <div class="impact">
  <div class="sticky-container">
    <img class="data-viz" id="data-viz-1" src="{{site.baseurl}}/assets/img/impact/Baby-Shark-Count.aisha-davis.gif" alt="Baby Shark gif that says Mama Counts, Daddy Counts, Grandpa Counts, Grandma Counts"><br>
    <img class="data-viz" id="data-viz-2" src="http://placekitten.com/150/250" alt=""><br>
    <img class="data-viz" id="data-viz-3" src="http://placekitten.com/400/300" alt=""><br>
    <img class="data-viz" id="data-viz-4" src="http://placekitten.com/200/200" alt="">
  </div>
</div> -->
<!--
<div class="sticky">
  When this div is hit it needs to be stuck (fixed) center of viewport until it finished animating images in one by one.
  <br />
  <div id="blue" data-anchor-target="#container" data-0-top="opacity:0;" data-100-top="opacity:1;"></div>
  <div id="blue" data-anchor-target="#container" data-100="opacity:0;" data-bottom-top="opacity:0;" data-top-bottom="opacity:1;"></div>
  <div id="blue" data-anchor-target="#container" data-100="opacity:0;" data-bottom-top="opacity:0;" data-top-bottom="opacity:1;"></div>
</div> -->
