<div class="impact-hero" id="hero">
  <div id="prize-banner">
    <a href="{{ site.baseurl }}/impact-report-low-motion">Click here for a low-motion, simple layout version of this report</a> or <a href="{{ site.baseurl }}/impact-report-low-motion">Download as a PDF</a>
  </div>

  <div class="background-image-collage">
    <img class="collage-thumbnail slow" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_01.png" alt="">
    <img class="collage-thumbnail fast" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_02.png" alt="">
    <img class="collage-thumbnail fastest" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_03.png" alt="">
    <img class="collage-thumbnail slower" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_04.png" alt="">
    <img class="collage-thumbnail fast" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_05.png" alt="">
    <img class="collage-thumbnail slow" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_06.png" alt="">
    <img class="collage-thumbnail slowest" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_07.png" alt="">
    <img class="collage-thumbnail fast" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_08.png" alt="">
    <img class="collage-thumbnail fast" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_10.png" alt="">
    <img class="collage-thumbnail slow" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_09.png" alt="">
    <img class="collage-thumbnail slower" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_11.png" alt="">
    <img class="collage-thumbnail slowest" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_12.png" alt="">
    <img class="collage-thumbnail fastest" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_13.png" alt="">
    <img class="collage-thumbnail fast" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_14.png" alt="">
    <img class="collage-thumbnail slow" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_01.png" alt="">
    <img class="collage-thumbnail fast" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_02.png" alt="">
    <img class="collage-thumbnail fastest" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_03.png" alt="">
    <img class="collage-thumbnail fast" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_05.png" alt="">
    <img class="collage-thumbnail slower" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_04.png" alt="">
    <img class="collage-thumbnail slow" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_06.png" alt="">
    <img class="collage-thumbnail fast" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_07.png" alt="">
    <img class="collage-thumbnail slower" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_08.png" alt="">
    <img class="collage-thumbnail slow" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_09.png" alt="">
    <img class="collage-thumbnail fast" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_02.png" alt="">
    <img class="collage-thumbnail fastest" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_03.png" alt="">
    <img class="collage-thumbnail slower" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_04.png" alt="">
    <img class="collage-thumbnail fast" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_10.png" alt="">
    <img class="collage-thumbnail slow" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_11.png" alt="">
    <img class="collage-thumbnail slow" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_12.png" alt="">
    <img class="collage-thumbnail slower" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_04.png" alt="">
    <img class="collage-thumbnail slow" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_11.png" alt="">
    <img class="collage-thumbnail fastest" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_13.png" alt="">
    <img class="collage-thumbnail slowest" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_12.png" alt="">
    <img class="collage-thumbnail fast" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_14.png" alt="">
    <img class="collage-thumbnail fast" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_10.png" alt="">
    <img class="collage-thumbnail fast" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_02.png" alt="">
    <img class="collage-thumbnail fastest" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_03.png" alt="">
    <img class="collage-thumbnail fastest" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_13.png" alt="">
    <img class="collage-thumbnail fast" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_14.png" alt="">
    <img class="collage-thumbnail fast" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_05.png" alt="">
    <img class="collage-thumbnail slow" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_06.png" alt="">
    <img class="collage-thumbnail slowest" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_07.png" alt="">
  </div>

  <div class="interior">
    <h1 class="scrolling-header-top">Every 10 years the census counts everyone living in the  United States</h1>
    <h1 class="scrolling-header-top">However,  there are many communities around the nation that go uncounted</h1>
    <h1 class="scrolling-header-top">The Census Open Innovation Labs  aimed to increase participation in creative and innovative ways</h1>
    <h1 class="scrolling-header-top">We brought together national partners, designers, storytellers, creatives and  trusted voices in the community.</h1>
    <h1 class="scrolling-header-top">Together, they co-created meaningful content and engaging messaging used  to inspire our nation to <b>#GetOutTheCount</b></h1>
    <h1 class="scrolling-header-top">Here is our story......</h1>
  </div>
</div>
