<div class="impact-hero" id="hero">
  <div class="background-image-collage">
    <img class="collage-thumbnail slow" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_01.png" alt="">
    <img class="collage-thumbnail fast" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_02.png" alt="">
    <img class="collage-thumbnail fastest" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_03.png" alt="">
    <img class="collage-thumbnail slower" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_04.png" alt="">
    <img class="collage-thumbnail fast" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_05.png" alt="">
    <img class="collage-thumbnail slow" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_06.png" alt="">
    <img class="collage-thumbnail slowest" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_07.png" alt="">
    <img class="collage-thumbnail fast" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_08.png" alt="">
    <img class="collage-thumbnail fast" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_10.png" alt="">
    <img class="collage-thumbnail slow" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_09.png" alt="">
    <img class="collage-thumbnail slower" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_11.png" alt="">
    <img class="collage-thumbnail slowest" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_12.png" alt="">
    <img class="collage-thumbnail fastest" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_13.png" alt="">
    <img class="collage-thumbnail fast" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_14.png" alt="">
    <img class="collage-thumbnail slow" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_01.png" alt="">
    <img class="collage-thumbnail fast" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_02.png" alt="">
    <img class="collage-thumbnail fastest" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_03.png" alt="">
    <img class="collage-thumbnail fast" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_05.png" alt="">
    <img class="collage-thumbnail slower" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_04.png" alt="">
    <img class="collage-thumbnail slow" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_06.png" alt="">
    <img class="collage-thumbnail fast" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_07.png" alt="">
    <img class="collage-thumbnail slower" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_08.png" alt="">
    <img class="collage-thumbnail slow" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_09.png" alt="">
    <img class="collage-thumbnail fast" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_02.png" alt="">
    <img class="collage-thumbnail fastest" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_03.png" alt="">
    <img class="collage-thumbnail slower" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_04.png" alt="">
    <img class="collage-thumbnail fast" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_10.png" alt="">
    <img class="collage-thumbnail slow" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_11.png" alt="">
    <img class="collage-thumbnail slow" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_12.png" alt="">
    <img class="collage-thumbnail slower" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_04.png" alt="">
    <img class="collage-thumbnail slow" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_11.png" alt="">
    <img class="collage-thumbnail fastest" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_13.png" alt="">
    <img class="collage-thumbnail slowest" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_12.png" alt="">
    <img class="collage-thumbnail fast" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_14.png" alt="">
    <img class="collage-thumbnail fast" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_10.png" alt="">
    <img class="collage-thumbnail fast" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_02.png" alt="">
    <img class="collage-thumbnail fastest" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_03.png" alt="">
    <img class="collage-thumbnail fastest" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_13.png" alt="">
    <img class="collage-thumbnail fast" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_14.png" alt="">
    <img class="collage-thumbnail fast" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_05.png" alt="">
    <img class="collage-thumbnail slow" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_06.png" alt="">
    <img class="collage-thumbnail slowest" src="{{ site.baseurl }}/assets/img/impact/census_accelerate_image_07.png" alt="">
  </div>
  <h1 class="title">Census Accelerate<br>Impact Report</h1>


  <div class="interior">
    <!-- <h1 class="scrolling-header-top">Think about how much society has changed since our last Decennial Census in 2010:</h1> -->
    <!-- <h2 id="scrolling-header-1">we shifted from Blockbuster to Netflix,</h2>
    <h2 id="scrolling-header-2">taxicabs to Uber and Lyft,</h2>
    <h2 id="scrolling-header-3">hotels to Airbnbs.</h2> -->
    <h1 class="scrolling-header-top">Nulla elementum est quis leo gravida, vitae pulvinar ligula auctor.</h1>
    <h1 class="scrolling-header-top">Maecenas blandit blandit nibh, luctus varius erat dapibus a. </h1>
    <h1 class="scrolling-header-top">Aliquam non pellentesque elit, id varius ipsum..</h1>
    <h1 class="scrolling-header-top">Nulla elementum est quis leo gravida, vitae pulvinar ligula auctor.</h1>
    <h1 class="scrolling-header-top">Maecenas blandit blandit nibh, luctus varius erat dapibus a. </h1>
    <h1 class="scrolling-header-top">Aliquam non pellentesque elit, id varius ipsum..</h1>
  </div>
</div>
