<div class="impact impact-map" id="hero">
  <div class="map-interior">
    <img id="map-scrolling-header-3" src="http://placekitten.com/300/400" alt=" " />
    <h2 id="map-scrolling-header-1">Census Accelerate</h2>
    <img id="map-scrolling-header-2" src="http://placekitten.com/150/250" alt=" " />
    <h2 id="map-scrolling-header-2">Events!</h2>
    <img id="map-scrolling-header-3" src="http://placekitten.com/400/300" alt=" " />
    <h2 id="map-scrolling-header-3">Plus Cats</h2>
    <img id="map-scrolling-header-1" src="http://placekitten.com/200/200" alt=" " />
    <img id="map-scrolling-header-2" src="http://placekitten.com/200/150" alt=" " />
  </div>
</div>
