<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
{% include favicon.html %}

<!-- Twitter cards -->
<meta name="twitter:title"   content="{{ page.title }}">

{% if page.description %}
<meta name="twitter:description" content="{{ page.description }}">
{% else %}
<meta name="twitter:description" content="{{ site.description }}">
{% endif %}

{% if page.image %}
<meta name="twitter:card"  content="summary_large_image">
<meta name="twitter:image" content="https://accelerate.census.gov/assets/img/graphics/video-awards-preview.png">
{% else %}
<meta name="twitter:card"  content="summary">
{% endif %}
<!-- end of Twitter cards -->


<!-- OG/Facebook cards -->

<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website">
<meta property="og:url" content="{{ page.og-url | default: 'https://accelerate.census.gov/awards/' }}">
<meta name="og:title"   content="{{ page.title }}">
<meta name="og:card"  content="summary_large_image">
<meta name="og:image" content="{{ page.og-image | default: 'https://accelerate.census.gov/assets/img/graphics/video-awards-preview.png' }}">

{% if page.description %}
<meta name="og:description" content="{{ page.description }}">
{% else %}
<meta name="og:description" content="{{ site.description }}">
{% endif %}

<!-- end of OG/FB cards -->
