<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/masonry.pkgd.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/main.js"></script>

{% assign _scripts = '' | split: '' %}
{% assign _async_marker = 'uswds_async=true' %}
{% assign _site_scripts = site.scripts %}
{% unless _site_scripts -%}
  {% assign _uswds_js = '/assets/uswds/js/uswds.min.js' | append: '?' | append: _async_marker %}
  {% assign _site_scripts = '' | split: ''
    | push: _uswds_js %}
{% endunless %}
{% assign _scripts = _scripts
  | push: _site_scripts
  | push: layout.scripts
  | push: page.scripts
  | uniq %}
{% for _list in _scripts %}{% for _script in _list %}
  {% assign _src = _script.src | default: _script %}
<script src="{{ _src | replace: _async_marker, '' | relative_url }}"{% if _script.async or _src contains _async_marker %} async{% endif %}></script>
{% endfor %}{% endfor %}




<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-33523145-1', 'auto');
ga('create', 'UA-48605964-48', 'auto', 'seedfundTracker');
ga('send', 'pageview');
ga('seedfundTracker.send', 'pageview');

</script>
<script type="text/javascript">
function currentAwards(a1) {
window.open('https://www.nsf.gov/awardsearch/advancedSearchResult?PIId=&PIFirstName=&PILastName=&PIOrganization=&PIState=&PIZip=&PICountry=&ProgOrganization=&ProgEleCode=5373%2C+1591%2C+5371%2C+1505&BooleanElement=Any&ProgRefCode=&BooleanRef=All&Program=&ProgOfficer=&Keyword=' + a1 + '&AwardNumberOperator=&AwardAmount=&AwardInstrument=&ActiveAwards=true&OriginalAwardDateOperator=&StartDateOperator=&ExpDateOperator=',   'a1window');
}
function allAwards(a1) {
window.open('https://www.nsf.gov/awardsearch/simpleSearchResult?queryText=' + a1 + '&ActiveAwards=true',   'a1window');
}
</script>
