<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" 
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
  crossorigin="anonymous">
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/masonry.pkgd.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery-smooth-scroll.js"></script>
<script src="{{ site.baseurl }}/assets/js/main.js"></script>
<script async src="{{ site.baseurl }}/assets/uswds/js/uswds.min.js"></script>
