.big-number {
  float: left;
  margin-right: $space-l;
  line-height: 1;
}

.big-number-description {
  float: left;

  @media screen and (min-width: 620px) {
    margin-top: $space-l;
  }

  span {
    display: block;
  }
}

.awardees-top-header {
  margin-bottom: $space-l;

  h1 {
    margin-bottom: 0;
  }

  .usa-width-one-whole:first-of-type {
    padding-bottom: $space-l;

    .accordion-dropdown {
      position: relative;
    }

  }
}

#awardees-nav {
  padding: 0;
  margin-top: -3rem;
  position: absolute;
  width: 100%;
  z-index: 999;

  .usa-unstyled-list {
    padding: $space-s+$space-m $space-s;
    background-color: $color-white;

    li {

      a {
        font-size: $font-size-xs;
        padding: $space-xs $space-s;
        display: block;
        color: $color-base;
        border: none;

        &:hover {
          background-color: $color-secondary-lightest;
        }

        &:focus {
          box-shadow: none;
        }

      }
    }
  }
}

.awardees-bottom-header {

  .font-mono {
    font-weight: 400;
    line-height: $leading-xs;
    color: $color-gray-dark;
  }

  .flex-list {
    border-top: 2px solid $color-gray-light;
    padding-top: $space-l;

    &.flex-list-3-col {

      @media screen and (max-width:799px) {
        li {
          width: 100%;
          border-bottom: 2px solid $color-gray-light;
        }
      }

      @media screen and (min-width: 800px) {
        li {
          width: 33%;
          border-right: 2px solid $color-gray-light;
          padding: $space-l $space-m 0 0;

          &:not(:first-child) {
            padding-left: $space-l;
          }

          &:first-child {
            flex-grow: 1.5;
          }

        }
      }

    }

    li {

      &:last-child {
        border: 0;
      }

      &:nth-child(2) {
        background: url(../img/map-us.svg) no-repeat;
      }

      span {
        display: block;
      }
    }
  }
}

.accordion-number-of-awardees-header {
  width: $space-xl + $space-m + $space-xs;
  margin-top: $space-m;
}


.awardees-details-accordion {

  .usa-accordion-content {
    padding: $space-l $space-s $space-xl $space-s;
    background-color: $color-neutral-light;

    .table-row {
      line-height: $leading-xs;

      @include media($medium-screen) {
        .table-row-item {
        border-bottom: 1px solid $color-gray-light;
      }
        &:first-child {
          flex-grow: 2.5;
        }

      }
    }
  }

  .usa-accordion-button {
    background-image: url('../img/arrow-up.svg');
    padding-left: $space-s;
    padding-right: $space-s;
    font-family: $font-serif;
    font-size: $font-size-xs;
    font-weight: $font-normal;
    background-color: $color-white;
    border-top: 1px solid $color-gray-light;
    &[aria-expanded='true'] {
      position: sticky;
      top: 0;
    }
    &:hover,
    &[aria-expanded='true'] {
      border: 0;
      border-top: 1px solid $color-gray-light;
      background-color: $color-neutral-light;
    }
    &:focus {
      box-shadow: none;
      border-top: 1px solid $color-black;
      background-color: $color-neutral-light;
    }
    &[aria-expanded='false'] {
      background-image: url('../img/arrow-down.svg');
     }
    .accordion-number-of-awardees {
      color: $color-primary;
      display: inline-block;
      float: left;
      font-size: $font-size-m;
      font-weight: $font-bold;
      padding-right: $space-l + $space-s;
      width: $space-xl + $space-m + $space-xs;
      text-align: right;
    }

    .accordion-tech-topic {
      padding-right: $space-s + $space-l;
      line-height: $leading-s;
      display: block;

    }
  }

  .border-bottom:last-child {
    border-bottom: 1px solid $color-gray-light;
  }
}
