.event,
.text {
  .usa-button {
    background-image: none !important;
    transition: all 0.5s;
    position: relative;
    color: $color-navy !important;
    font-weight: 600;
    span {
      position: relative;
      z-index: 2;
    }
    &::before {
      content: '';
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    	z-index: 1;
      border-radius: 24px;
    	background-color: $color-secondary !important;
    	transition: all 0.3s;
    }
    &::after {
      content: '';
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    	z-index: 1;
      border-radius: 24px;
    	opacity: 0;
    	transition: all 0.3s;
      background-color: $color-offwhite;
    	border: 2px solid $color-navy;
    }
    &:hover {
      &::before {
        opacity: 0;
      }
      &::after {
        opacity: 1;
      }
    }
  }
}

.button-wrapper {
  position: relative;
  &:hover {
    .usa-button {
      transform: translate(0.5rem, 0.5rem);
      border: none;
    }
  }
}
.button-bg {
    display: none;
  @include media($large-screen) {
    display: block;
    position: absolute;
    left: -1rem;
    z-index: 0;
    height: 5rem;
    width: 100%;
    border-radius:24px;
  }
}
.usa-button {
  font-size: 1.5rem;
  font-weight: 600;
  height: 5rem;
  border-radius: 24px;
}

.usa-button-primary {
  background-image: none !important;
  background-color: $color-navy !important;
}

.yellow {
  background-color: $color-secondary;
}
.red {
  background-color: $color-red;
}
.blue {
  background-color: $color-primary;
}


.text {
  .usa-button {
    margin: $space-l 0;
  }
}

.button-wrapper .usa-button {
  background-image: none !important;
  background-color: $color-navy !important;
}
