.event {
  padding: $space-m 0;
  h4 {
    padding-top: $space-xl;
    margin-bottom: $space-xs;
  }
  h6 {
    font-family: $font-sans;
    text-transform: none;
    font-weight: 400;
    font-size: $font-size-xs;
  }
  p {
    max-width: 30rem !important;
    margin: $space-m 0;
  }

}

.event-description {
  padding-left: $space-l;
}

#past-events {
  padding: $space-xl 0;
  background-color: $color-navy;
  margin-bottom: $space-xl;
  h1,
  p {
    color: $color-white;
  }
  .usa-width-one-half {
    @include media($large-screen) {
      width: 47.5%;
    }
  }
}

.past-event {
  width: 100%;
  background-color: $color-white;
  text-align: center;
  padding: $space-xl $space-xl $space-l $space-xl;
  margin-bottom: $space-l !important;
  min-height: 41rem;
  h3 {
    font-family: $font-serif;
    font-size: $font-size-l;
    weight: 600;
    margin-bottom: $space-s;
  }
  .event-details {
    color: $color-navy !important;
    text-align: left;
  }
}
.event-community {
  margin: auto;
  background-color: $color-red;
  max-width: 50%;
  margin-bottom: $space-l;
  p {
    font-weight: 600;
    line-height: 4rem;
  }
}

.event-date {
  color: $color-navy;
  font-family: $font-sans;
  margin-bottom: $space-m;
}
