.event {
  margin-bottom: $space-xl;
  @include media($large-screen) {
    margin-bottom: inherit;
  }
  padding: $space-m 0;

  h4 {
    padding-top: $space-m;
    margin-bottom: $space-xs;
    @include media($large-screen) {
      padding-top: $space-xl;
    }
  }
  h6 {
    font-family: $font-sans;
    text-transform: none;
    font-weight: 400;
    font-size: $font-size-xs;
  }
  p {
    max-width: 30rem !important;
    margin: $space-m 0;
  }

}

.event-description {
  @include media($large-screen) {
    padding-left: $space-l;
  }
}

#past-events {
  padding: 2rem 2rem 5rem 2rem;
  background-color: $color-navy;
  @include media($large-screen) {
    padding: $space-xl 0;
  }
  h1,
  p {
    color: $color-white;
    margin-bottom: $space-m;
  }
  .usa-width-one-half {
    @include media($large-screen) {
      width: 47.5%;
    }
  }
}

.past-event {
  width: 100%;
  background-color: $color-white;
  text-align: center;
  padding: 6rem 3rem 3rem 3rem;
  margin-bottom: $space-l !important;
  min-height: 41rem;
  @include media($large-screen) {
    padding: $space-xl $space-xl $space-l $space-xl;
  }
  h3 {
    font-family: $font-serif;
    font-size: $font-size-l;
    weight: 600;
    margin-bottom: $space-s;
  }
  .event-details {
    color: $color-navy !important;
    text-align: left;
  }
}

.finalist-block {
   display: inline-block;
   width: 100%;
   @include media($large-screen) {
     width:30%;
   }
}

.finalists {
  width: 100%;
  background-color: $color-white;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 0rem 2rem;
  margin-bottom: $space-l !important;
  min-height: 41rem;
  @include media($large-screen) {
    padding: $space-xl $space-xl $space-l $space-xl;
  }
  h3 {
    font-family: $font-serif;
    font-size: $font-size-l;
    weight: 600;
  }
  h5 {
    margin-top: auto;
  }
  .event-details {
    color: $color-navy !important;
    text-align: left;
  }
}

.event-community {
  margin: auto;
  background-color: $color-red;
  max-width: 50%;
  margin-bottom: $space-l;
  p {
    font-weight: 600;
    line-height: 4rem;
  }
}

.event-date {
  color: $color-navy;
  font-family: $font-sans;
  margin-bottom: $space-m;
}
