  .page-fastlane-application-overview img {
    margin:0px;
  }
  .page-form-preparation img {
    margin:0px;
  }
  .page-form-preparation-part-2 img{
    margin:0px;
  }
  .page-form-preparation-part-3 img{
    margin:0px;
  }
  .page-proposal-submission img{
    margin:0px;
  }
  
