.usa-banner,
.usa-banner-header {
  padding-bottom: 0;
  padding-top: 0;
}

.usa-banner-inner {
  display: flex;
  justify-content: center;

  @include media($large-screen) {
    display: block;
  }
}

.usa-banner-header {

  .usa-label {
    font-size: inherit;
  }

  .banner-left {
    margin-bottom: 0;
    margin-top: 0;
  }

  .banner-right {
    float: right;
    margin-bottom: 0;
    margin-top: 0;

    > * {
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  a {
    border-bottom: 0;
    text-decoration: underline;
  }
}

.usa-header {
  background-color: $color-white;
  border: 0;
}
.landing-layout .usa-header {
  background-color: transparent;
}

