.usa-banner {
  height: 23px;
  padding: 0.1rem 2rem 0 2rem;
  font-family: $font-sans;
  background-color: $color-navy;

  p {
    font-size: $font-size-xxs;
    line-height: $leading-s;
    color: $color-white;
  }

  .banner-left img {
    position: relative;
    top: 2px;
    margin-right: 3px;
    height: $font-size-xs;
    width: auto;
  }
}

.usa-header {
  background-color: transparent;
  border: 0;
  @include media($large-screen) {
      padding-top: 10px;
  }
}
.landing-layout .usa-header {
  background-color: transparent;
}

.usa-nav-logo {
  float: left;
}
