
#doodle-01 {
  left: 17rem;
  top: 13rem;
}

#doodle-02 {
  left: 10rem;
  top: 68rem;
}

#doodle-03 {
  top: 50%;
  left: 50%;
}

#doodle-04 {
  right: 6rem;
  top: 85rem;
}

#doodle-05 {
  right: 8rem;
  top: 38rem;
}

#doodle-06 {
  right: 20rem;
  top: 18rem;
}
