#content-wrapper {
  position: relative;
  margin-top: 12rem;
  @include media($large-screen) {
    margin-top: -45rem;
  }
}


#prize-banner {
  width: 100%;
  background-color: $color-secondary-darkest;
  font-weight: bold;
  color: $color-primary-darkest;
  text-align: center;
  padding: 10px 0;
  text-decoration: none !important;
}

@media (max-width: 690px) {
  #prize-banner a {
    display:block;
    text-decoration: none !important;
    border-bottom: none;
  }
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none !important;
    border-bottom: none;
}

#video {
  width: 100%;
  height: 100%;
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  @include media($large-screen) {
    display: block;
  }
  video {

  }
}

#video-mobile {
  width: 100%;
  height: 100%;
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  @include media($large-screen) {
    display: none;
  }
}

#opportunity-top {
  display: none;
  background-image: url('../img/backgrounds/opportunity-top.svg');
  height: 45rem;
  position: relative;
  z-index: 3;
  background-size: cover;
  background-repeat: no-repeat;
  @include media($large-screen) {
    display: block;
  }
}

#opportunity {
  background-color: $color-white;
  padding-top: 10rem;
  @include media($large-screen) {
    padding-left: 15rem;
    padding-bottom: $space-l;
    position: relative;
    z-index:4;
  }
  img {
    margin-bottom: $space-m;
  }
}

#opportunity-bottom {
  background-image: url('../img/backgrounds/opportunity-bottom.svg');
  height: 10rem;
  margin-top: -0.2rem;
  position: relative;
  z-index: 5;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $color-true-white;
}

#help {
  background-color: $color-true-white;
  position: relative;
  z-index: 3;
  padding-top: 10rem;
  padding-bottom: 8rem;
  margin: auto;
  text-align: center;
  @include media($large-screen) {
    text-align: inherit;
  }

  h1 {
    text-align: center;
    margin-bottom: $space-s;
  }
  .text-large {
    text-align: center;
    margin: auto;
    margin-bottom: $space-xl;
  }
  h3 {
    font-size: $font-size-l;
    color: $color-navy;
    margin-bottom: $space-xxs;
  }
  h4 {
    margin-bottom: $space-s;
    font-size: $font-size-m;
    color: $color-navy;
    font-weight: 400;
    @include media($large-screen) {
      margin-bottom: $space-xxs;
    }
  }
  img {
    margin-bottom: $space-l;
  }
  p {
    margin-bottom: $space-m !important;
  }
}

.help-card {
  margin-bottom: 8rem;

}

#impact-bg {
  display: none;
  position:absolute;
  width: 100%;
  height: auto;
  z-index: 5;
  @include media($large-screen) {
    display: block;
    background: linear-gradient(to bottom, transparent 23%, $color-navy 23%) no-repeat;
    height: 113rem;
    width: 100%;
  }
  svg {
    width:100%;
    height:100%;
  }
}

#impact {
  text-align: center;
  background-color: $color-navy;
  padding-left: 2rem;
  padding-right: 2rem;
  @include media($large-screen) {
    text-align: left;
    position: relative;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding-top: 20rem;
    z-index: 5;
    padding-bottom: 16.5rem;
  }
  .spacing-top {
    padding-top: 0;
    @include media($large-screen) {
      padding-top: 10rem;
    }
  }
  h1 {
    color: $color-true-white;
    margin-bottom: $space-s;
  }
  p {
    font-size: $font-size-m;
    color: $color-true-white;
    margin-bottom: $space-xl + $space-m;
    max-width: 40rem;
    line-height: $leading-m;
  }
  img {
    @include media($large-screen) {
      margin-left: $space-l;
    }
  }
}

#impact-bottom {
  background-color: $color-navy;
  height: 40rem;
  position: relative;
  margin-top: -40rem;
  z-index: -1;
}

#partners {
  text-align: center;
  background-color: $color-navy;
  top: -0.1rem;
  padding-bottom: $space-xl;
  @include media($large-screen) {
    position: relative;
    z-index: 3;
    padding-top: 8rem;
  }
  p {
    color: $color-offwhite;
    opacity: 40%;
    margin: auto;
  }
  img {
    margin: $space-l;
  }
}

#partners-bottom {
  background-image: url('../img/backgrounds/partners-bottom.svg');
  z-index: 4;
  position: relative;
  height: 10rem;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -0.2rem;
}


#join {
  padding-top: 8rem;
  padding-bottom: 10rem;
  @include media($large-screen) {
    position: relative;
    background-color: $color-true-white;
  }

  h1 {
    text-align: center;
    margin-bottom: $space-xl*2;
  }

  .card {
    background-color: $color-navy;
    color: $color-white;
    padding: $space-l;
    text-align: left;
    min-height: 45rem;
    z-index: 5;
    position: relative;
    margin-bottom: $space-m;
    @include media($large-screen) {
      min-height: 45rem;
    }

    img {
      display: block;
      margin: auto;
    }
    h3 {
      color: $color-white;
      font-size: 2.2rem;
      text-align: left;
      margin: 1rem 0 1.5rem 0;
    }
    p {
      color: $color-white;
      opacity: 75%;
      margin-bottom: 0;
    }
  }
  .card-wrapper {
    position: relative;
  }

  .card-bg {
    position: absolute;
    left: -($space-m);
    top: -($space-m);
    z-index: 5;
    height: 45rem;
    width: 100%;
  }

  #card-02 {
    margin-top: $space-xl;
  }
  #card-03 {
    margin-top: $space-xl*2;
  }
}

.doodle {
  display: none;
  @include media($large-screen) {
    display: block;
    position: absolute;
  }
}

#doodle-01 {
  left: 17rem;
  top: 13rem;
}

#doodle-02 {
  left: 10rem;
  top: 68rem;
}

#doodle-03 {
  top: 83rem;
  left: 33%;
}

#doodle-04 {
  right: 6rem;
  top: 85rem;
}

#doodle-05 {
  right: 8rem;
  top: 38rem;
}

#doodle-06 {
  right: 20rem;
  top: 18rem;
}

#doodle-07 {
  left: 18rem;
  top: 18rem;
}

#doodle-08 {
  left: 20rem;
  top: 100rem;
}

#doodle-09 {
  left: 15rem;
  top: 120rem;
}

#doodle-08 {
  left: 25rem;
  top: 150rem;
}

#doodle-09 {
  left: 20rem;
  bottom: 50rem;
}
