.meme-section {
  margin-top: $space-xl !important;
  a {
    background-image: none !important;
    background-color: $color-navy !important;
  }
}

.meme-container {
  columns: 2 200px;
  -moz-columns: 2 200px;
  -webkit-columns: 2 200px;
  column-gap: 2rem;
  margin-bottom: -14rem;
}

.meme-container-l {
  columns: 4 200px;
  column-gap: 2rem;
  img {
    margin-bottom: $space-m;
  }
  margin-bottom: 10rem;
}
