.meme-section {
  margin-top: $space-xl !important;
  padding-bottom: $space-l;
  a {
    background-image: none !important;
    background-color: $color-navy !important;
  }
}

.meme-container {
  columns: 2 200px;
  -moz-columns: 2 200px;
  -webkit-columns: 2 200px;
  column-gap: 2rem;
  margin-bottom: 2rem;
  @include media($large-screen) {
    margin-bottom: -14rem;
  }
  img {
    width: 100%;
    margin-bottom: 2rem;
    @include media($large-screen) {
      max-width: 100%;
      margin-bottom: 1rem;
    }
  }
}

.meme-container-l {
  columns: 4 200px;
  column-gap: 2rem;
  @include media($large-screen) {
    margin-top: 5rem !important;
    margin-bottom: 3rem;
  }
  img {
    margin-bottom: 2rem;
  }
}

#cftc {
  .usa-button {
    background-image: none !important;
    background-color: $color-navy !important;
  }
  img {
    width: 100%;
    @include media($large-screen) {
        max-width: 100%;
    }
  }
}
