.usa-nav-container {
  @include media($nav-width) {
    max-width: 100%;
    padding: 0 2rem 0 2rem;
    display: flex;
  }
}

.nav-light {
  color: $color-white;
}

.nav-dark {
  color: $color-navy;
}

.usa-nav-primary {
  clear: both;

  .usa-nav-link {
    @include media($large-screen) {

    }
    padding-bottom: 1.3rem;
  }

  .usa-accordion-button,
  .usa-accordion-button[aria-expanded=false] {
    color: $color-navy;
    font-family: $font-sans;
    font-size: $font-size-s;
    font-weight: 500;
    min-width: auto;
    border: 0;
    background-position: right 1.5rem top 50%;

    &:hover {
      color: $color-base;
      background-color: $color-secondary;
      border: 0;

      span {
        border: 0;
      }
    }
  }

  .button-light {
    background-image: url('../img/arrow-down-light.svg') !important;
  }
  .button-dark {
    background-image: url('../img/arrow-down-dark.svg') !important;
  }
  button[aria-expanded=true],
  button[aria-expanded=true]:hover {
    background-color: $color-secondary;
    background-image: url('../img/arrow-up.svg');
    color: $color-base;
    z-index: 1000;
    position: relative;
    background-position: right 1.5rem top 50%;

    span {
      border: 0;
    }
  }
}


.usa-nav,
.usa-nav-submenu  {
  margin-top: 0;
  padding: 0;

  li {
    a {
      font-family: $font-sans;
      font-size: $font-size-s;
      font-weight: 500;
      text-rendering: optimizeLegibility;

      &:hover {
        color: $color-base;
        background-color: $color-secondary;
        border: 0;

        span {
          border: 0;
      }
    }
  }
}
}

@include media($nav-width) {
  .usa-nav {
    width: auto;
    padding: 0;
    margin-left: auto;
  }
  .usa-navbar {
    display: none;
  }

  .usa-nav-submenu {
    background-color: $color-navy;
    padding: .5rem 0;

    a:hover {
      color: $color-base;
    }
  }
}

@include media($large-screen) {
  .usa-nav {
    background: none;
    li {
      margin: 0;
    }
  }
}

.usa-navbar {
  border-bottom: 0;
  height: auto;
  padding-top: $space-m;
}

@include media($nav-width) {
  .usa-navbar {
    border-bottom: none;
    height: 10.3rem;
  }
}
