.usa-nav-container {
  @include media($nav-width) {
    max-width: 100%;
    padding: 0 2rem 0 2rem;
    display: flex;
  }
}

.nav-light {
  @include media($large-screen){
    color: $color-white;
  }

}

.nav-dark {
  color: $color-navy;
}

.usa-nav-primary {
  clear: both;

  .usa-nav-link {
    @include media($large-screen) {

    }
    padding-bottom: 1.3rem;
    &:hover {
      .nav-light {
        color: $color-navy !important;
      }
    }
    &:focus {
      .nav-light {
        color: $color-navy !important;
      }
    }

  }

  .usa-accordion-button,
  .usa-accordion-button[aria-expanded=false] {
    color: $color-navy;
    font-family: $font-sans;
    font-size: $font-size-s;
    font-weight: 500;
    min-width: auto;
    border: 0;
    background-position: right 1.5rem top 50%;

    &:hover {
      color: $color-base;
      background-color: $color-secondary;
      border: 0;

      span {
        border: 0;
      }
    }
  }

  .button-light {
    background-image: url('../img/arrow-down-light.svg') !important;
    &:hover,
    &:focus {
      background-image: url('../img/arrow-down-dark.svg') !important;
    }
  }
  .button-dark {
    background-image: url('../img/arrow-down-dark.svg') !important;
  }
  button[aria-expanded=true],
  button[aria-expanded=true]:hover {
    background-color: $color-secondary;
    background-image: url('../img/arrow-up.svg');
    color: $color-base;
    z-index: 1000;
    position: relative;
    background-position: right 1.5rem top 50%;

    span {
      border: 0;
    }
  }
}

.usa-nav-logo {
  display: none;
  @include media($large-screen) {
    display: block;
    padding: 1.3rem;
  }
  a {
    &:hover {
      border: none;
    }
  }
}

.usa-nav,
.usa-nav-submenu  {
  min-width: 18rem;
  margin-top: 0;
  padding: 0;

  li {
    a {
      font-family: $font-sans;
      font-size: $font-size-s;
      font-weight: 500;
      text-rendering: optimizeLegibility;

      &[href*='.com'],
      &[href*='.org'],
      &[href*='.net'],
      &[href*='.co'],
      &[href*='.tech'],
      &[href*='.vc'],
      &[href*='.gov'],
      &.external-link {
        background: url('../img/links/external-link-inverse.svg') 95% 40% no-repeat;
        background-size: 16px auto;
      }
      @include media($large-screen) {
        &[href*='.com'],
        &[href*='.org'],
        &[href*='.net'],
        &[href*='.co'],
        &[href*='.tech'],
        &[href*='.vc'],
        &[href*='.gov'],
        &.external-link {
          background: url('../img/links/external-link-inverse.svg') 85% 30% no-repeat;
          background-size: 16px auto;
        }
      }

      &:hover {
        color: $color-base;
        background-color: $color-secondary;
        border: 0;
        text-decoration: none;
        padding-left: 2.8rem;

        span {
          border: 0;
      }
    }
  }
}
}

.usa-nav-submenu {
  color: $color-white;
  background-color: $color-navy;
}

@include media($nav-width) {
  .usa-nav {
    width: 100%;
    padding: 0;
  }
  .usa-navbar {
    display: none;
  }

  .usa-nav-submenu {
    background-color: $color-navy;
    padding: .5rem 0;

    a:hover {
      color: $color-base;
    }
  }
}

@include media($large-screen) {
  .usa-nav {
    background: none;
    li {
      margin: 0;
    }
  }
}

.usa-navbar {
  border-bottom: 0;
  height: auto;
}

@include media($nav-width) {
  .usa-navbar {
    border-bottom: none;
    height: 10.3rem;
  }
}
