.coil-team-list {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  margin: $space-xl 0;
  padding: 0;

  &:after {
    content: "";
    max-width: 30%;
    flex: auto;
  }

  img {
    display: block;
    max-width: 70%;
  }

  .coil-team-card {
    margin: 0 $space-l $space-l 0;
    width: 27rem;
    height: 45rem;
  }

  .coil-team-list-content {
    display: block;
    padding: 1.05rem 3rem;
  }
}

.featured-partner {
  min-height: 60vh;
  p {
    margin-bottom: $space-m;
  }
  iframe {
    padding-left: $space-l;
  }
}

#partner-02 {
  background-color: $color-white;
  padding: $space-xl 0;
}

#cftc {
  background-color: $color-offwhite;
  padding: $space-xl 0;
  p {
    margin-bottom: $space-m;
  }
  .button-wrapper {
    text-align: center;
  }
}
