.pd-list {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  margin: $space-xl 0;
  padding: 0;

  &:after {
    content: "";
    max-width: 30%;
    flex: auto;
  }

  img {
    display: block;
    max-width: 100%;
  }

  .pd-card {
    margin: 0 $space-l $space-l 0;
    width: 27rem;
    height: 45rem;
    background-color: $color-white;
  }

  .pd-list-content {
    display: block;
    padding: 1.05rem 3rem;
  }
}

.pd-name {
  font-size: $font-size-xs;
  margin-top: $space-m;
  margin-bottom: $space-m;
  letter-spacing: normal;

}

.pd-topic-list {
  list-style: none;
  padding: 0;
  margin-bottom: $space-m;

  .pd-tech-topic {
    font-size: $font-size-xxs;
    line-height: $leading-xs;
    margin-bottom: $space-xs;

    &::before {
      content: '\2192';
      font-family: $font-serif;
      margin-left: -16px;
      width: 16px;
      color: $color-base;
    }

    a {
      color: $color-primary;
      font-weight: 500;
      display: block;
      border: none;
      margin: -1.6rem 0 0 0;
    }


  }

}
