h1, h2, h3, p, a {
  font-family: 'Poppins', sans-serif;
}

.impact {
  margin: auto;
  // width: 920px;
  h1 {
    padding: 5rem;
    width: 920px;
    margin: auto;
  }
}

.impact-body {
  background-color: #fff;
  padding-top: 5rem;
  padding-bottom: 5rem;
}


.impact-callout {
  background-color: #004280;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  margin-top: 20rem;
  padding: 20rem;
  p {
    padding: 30rem 20rem;
    color: #fff;
    font-size: 3rem;
    font-style: italic;
    letter-spacing: 1.3px;
    // margin-left: 20px;
    // border-left: solid 1px #fff;
  }
}

.impact-hero {
  // background: url(https://cdn.dribbble.com/users/3629134/screenshots/6768008/6.png);
  // background-color: #004280;
  background-repeat: no-repeat;
  background-attachment: fixed !important;
  background-size: 100% !important;
  background-position: center top !important;
  // padding: 1rem;
  // padding-top: 20%;
  color: #fff;
  text-align: center;

  .title {
    position: fixed;
    top: 50%;
    left: 35%;
    z-index: -100;
    color: #000000;

  }
  .collage-thumbnail {
    display: inline-block;
    width: 200px;
    z-index: 10;
    opacity: 0;
    // transition-delay: 1s;
  }
  //
  .background-image-collage {
    position: fixed;
    top: 0;
    z-index: -1;
  }

  .interior {
    h1, h2 {
      background-color: rgb(249, 198, 66);
      padding: 20px;
    }

    @include media($large-screen) {
      h1 {
        font-size: 5rem;
        margin-bottom: 60rem;
        max-width: 800px;
        margin-left: 30rem;
        padding: 30px;
      }

      .scrolling-header-top {
        // position: absolute;
        margin-top: 70rem;
        // margin-bottom: 60rem;
      }

      h2 {
        background-color: rgb(249, 198, 66);
        margin-top: 20rem;
        font-size: 4rem;
        margin-bottom: 60rem;
        width: fit-content;
      }

      #scrolling-header-1 {
        margin-left: 20rem;
      }
      #scrolling-header-2 {
        margin-left: 80rem;
      }
      #scrolling-header-3 {
        margin-left: 50rem;
      }
    }
  }
}

.impact-map {
  background: url("../img/impact/temp-background.png");
  background-repeat: no-repeat;
  background-attachment: fixed !important;
  background-size: contain !important;
  background-position: center top !important;
  padding: 1rem;
  padding-top: 10%;
  color: #ffffff;

  .map-interior {
    h1, h2 {
      background-color: rgb(249, 198, 66);
      padding: 20px;
    }

    @include media($large-screen) {
      h1 {
        font-size: 4rem;
        margin-bottom: 30rem;
        max-width: 800px;
        margin-left: 15rem;
        padding: 30px;
      }

      h2 {
        background-color: rgb(249, 198, 66);
        margin-top: 20rem;
        font-size: 3rem;
        margin-bottom: 30rem;
        width: fit-content;
      }

      #map-scrolling-header-1 {
        margin-left: 5rem;
        max-width: 150px;
      }
      #map-scrolling-header-2 {
        margin-left: 50rem;
        max-width: 150px;

      }
      #map-scrolling-header-3 {
        margin-left: 20rem;
        max-width: 150px;

      }
    }
  }
}

.sticky-container {
  background-color: skyblue;
  .data-viz {
    visibility: hidden;
    height: 100vh;
    width: 100%;
    position: sticky;
    top: 0;
  }

}

.fadeIn {
    -webkit-animation: animat_show .8s;
    animation: animat_show .8s;
    visibility: visible !important;
}

@-webkit-keyframes animat_show{
    0%{opacity:0}
    100%{opacity:1}
}


.usa-content p:not(.usa-font-lead) {
    max-width: 63rem;
    margin: auto;
    padding: 10px;
}


// map

.container {
  -webkit-perspective: 900;
  margin-top: 100px;
  margin-bottom: 300px;
  padding-bottom: 350px;
}
#grid {
  margin: auto;
  width: 900px;
  -webkit-transform: rotate3d(0.5, 0, 0, 30deg);
  -webkit-transform-style: preserve-3d;
  margin-top: 50px;
  -moz-border-radius:500px;
  -webkit-border-radius:500px;
  border-radius:500px;
}
#grid > div {
  height: 16px;
  width: 16px;
  float: left;
  position: relative;
  border: solid #a6a6a6 1px;
  margin-left: -1px;
  margin-top: -1px;

}
#grid > div > div {
  width: 100%;
  height: 100%;
  .yellow {
    background-color: $color-secondary
  }
  .red {
    background-color: $color-red
  }
  .blue {
    background-color: $color-blue
  }
}
