h1, h2, h3, p, a {
  font-family: $font-sans-alt;
}

.impact {
  margin: auto;
  // width: 920px;
  h1 {
    padding: 5rem;
    width: 920px;
    margin: auto;
  }
}

.impact-body {
  background-color: #fff;
  padding-top: 5rem;
  padding-bottom: 5rem;
}


.impact-callout {
  background-color: #004280;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  margin-top: 20rem;
  padding: 20rem;
  p {
    padding: 30rem 20rem;
    color: #fff;
    font-size: 3rem;
    font-style: italic;
    letter-spacing: 1.3px;
    // margin-left: 20px;
    // border-left: solid 1px #fff;
  }
}

.impact-hero {
  background-repeat: no-repeat;
  background-attachment: fixed !important;
  background-size: 100% !important;
  background-position: center top !important;
  color: #fff;
  text-align: center;

  .title {
    position: fixed;
    top: 50%;
    left: 35%;
    z-index: -100;
    color: #000000;

  }
  .collage-thumbnail {
    display: inline-block;
    width: 200px;
    z-index: 10;
    opacity: 0;
    // transition-delay: 1s;
  }
  //
  .background-image-collage {
    position: fixed;
    top: 0;
    z-index: -1;
  }

  .interior {
    h1, h2 {
      background-color: #13192F;
      padding: 20px;
    }

    @include media($large-screen) {
      h1 {
        font-size: 24px;
        margin-bottom: 60rem;
        max-width: 600px;
        margin-left: 42rem;
        padding: 30px;
      }

      .scrolling-header-top {
        // position: absolute;
        margin-top: 70rem;
        // margin-bottom: 60rem;
        z-index: 1000;
      }

      #scrolling-header-1 {
        margin-left: 20rem;
      }
      #scrolling-header-2 {
        margin-left: 80rem;
      }
      #scrolling-header-3 {
        margin-left: 50rem;
      }
    }
  }
}

.sticky-container {
  background-color: skyblue;
  .data-viz {
    visibility: hidden;
    height: 100vh;
    width: 100%;
    position: sticky;
    top: 0;
  }

}

.fadeIn {
    -webkit-animation: animat_show .8s;
    animation: animat_show .8s;
    visibility: visible !important;
}

@-webkit-keyframes animat_show{
    0%{opacity:0}
    100%{opacity:1}
}


.usa-content p:not(.usa-font-lead) {
    max-width: 63rem;
    margin: auto;
    padding: 10px;
}


// map
.map-viz {
  background: none;

  h1.viz-header {
    font-size: 24px;
    margin-bottom: 60rem;
    max-width: 200px;
    margin-left: 42rem;
    padding: 30px;
    margin-top: 70rem;
    background-color: yellow;
    position: relative;
    z-index: 10;
  }

  .container {
    // z-index: -1;
    background-color: #3e7a43;
    -webkit-perspective: 900;
    -webkit-transform: rotate3d(0.5, 0, 0, 20deg);
    -webkit-transform-style: preserve-3d;
    margin: auto;
    margin-top: 100px;
    height: 800px;
    width: 100vw;
    position: sticky;
    top: 0;
    // z-index: -1;
  }
  .grid-container {
    margin: auto;
    padding-top: 50px;
    height: auto;
    width: 1000px;
    -webkit-transform: rotate3d(0.5, 0, 0, 15deg);
    -webkit-transform-style: preserve-3d;
    margin-top: 50px;
  }

  .grid-square {
    // -webkit-transform: rotate3d(0.5, 0, 0, 20deg);
    height: 20px;
    width: 20px;
    font-size: 8px;
    text-align: center;
    float: left;
    position: relative;
    // border: solid #a2a2a2 1px;
    // margin-left: -1px;
    // margin-top: -1px;
  }


    .border-left {
      border-left: solid #a6a6a6 1px;
    }

    .border-right {
      border-right: solid #a6a6a6 1px;
    }

    .border-top {
      border-top: solid #a6a6a6 1px;
    }

    .border-bottom {
      border-bottom: solid #a6a6a6 1px;
    }

    .transparent {
      background-color: transparent;
    }

    .white {
      background-color: white;
    }

    .yellow {
      background-color: $color-secondary
    }
    .red {
      background-color: $color-red
    }
    .blue {
      background-color: $color-blue
    }
}
