

.usa-sidenav-list {
  padding-right: $space-l;
  margin-top: 10rem !important;
  @include media($large-screen) {
    margin-top: $space-l !important;
  }

  li {
    border: none;
    margin-right: $space-s;

    &.supplement {  // sidenav section divider
      margin-top: -1px;
      // margin-right: 1rem;
      border-top: 2px solid $color-primary;

    }

    a {
      color: $color-primary-darkest;
      font-family: $font-sans;
      font-size: $font-size-side-nav;
      font-weight: 500;
      padding: 1rem 1rem 1rem 0rem;
      margin: 0;
      border-bottom: 1px solid $color-gray-lighter;

      &:visited {
        background-color: $color-offwhite;
        border-bottom: none;
        border-bottom: 1px solid $color-gray-lighter;
      }

      &:hover {
        background-color: inherit;
        border-bottom: 2px solid $color-primary;
      }

      &:active,
      &:focus {
        box-shadow: none;
        border-bottom: 2px solid $color-primary;
      }
      &.usa-current {
        border-left: none;
        padding-left: 2rem;
        color: $color-base;
        font-weight: 600;
        // background-color: $color-white-transparent;

        &::before {
          content: '\2192';
          width: 1.5rem;
          display: inline-block !important;
          font-family: $font-serif;
          margin-left: -2rem;
        }
      }

    }


  }

}
