.page-background {
  background-position: center top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.section-background-image {
  background-color: transparent;
  padding-top: 300px;

  .caption p {
    background-color: $color-white-transprent;
    float: right;
    font-size: $font-size-xxs;
    margin: 0;
    padding: 5px 20px;
  }

  .usa-width-one-third {
    float: right;
  }
}

.landing-layout {
  .section-header {
    p {
      font-size: $font-size-m;
    }
  }
}

.secondary-layout {
  .section-header {
    p {
      font-size: $font-size-s;
    }
  }
}

.usa-section-tight-top {
 padding-top: 1rem;
}

.section-intro {
  h2 {
    font-size: $font-size-s;
  }
  p {
    font-size: $font-size-xs;
  }
}

.divider,
.divider:first-child {
  border: 0;
  border-top: 1px solid $color-gray-light;
  display: block;
  margin-bottom: 5rem !important;
  margin-top: 5rem;
  text-align: center;
  width: 100%;
  @include media($large-screen) {
    width: 90%;
  }
  &.divider-left {
    display: inline-block;
  }
}

.stat-detail {
  display: none;
  width: 20%;
  @include media($large-screen) {
    display: block;
  }

  h1 {
    font-family: $font-mono;
    font-weight: 400;
    letter-spacing: -0.06em;
    font-size: $font-size-xxl;
    margin: 0;
    margin-right: $space-xs;
    display: inline;
    line-height: $leading-xxs;
  }
  h2 {
    font-family: $font-sans;
    font-size: $font-size-m;
    font-weight: 600;
    display: inline;
  }
  p {
    font-family: $font-sans;
    font-size: $font-size-xs;
    line-height: $leading-s;
  }

}

.side-button {
  display: none;
  @include media($large-screen) {
    display: block;
  }
}

.testimonial {
  h4 {
    font-family: $font-serif;
    font-size: $font-size-l;
    margin: 0 $space-l $space-l 0;
    color: $color-primary;
  }

  p {
    font-family: $font-sans;
    font-size: $font-size-xs;
  }
}

.usa-footer .social-link {
  border: none;
  display: inline-block;
  img {
    width: 35px;
    fill: $color-primary;
  }
  &:hover {
    border: none;
    text-decoration: none;
  }
}

a {
  border-bottom: 2px solid $color-blue;
  color: $color-blue;
  text-decoration: none;
  font-weight: 500;

  &:hover {
    border-bottom: 2px dotted $color-blue;
    text-decoration: none;
    color: $color-navy;
    }

  &:visited {
    color: $color-blue;
  }
  &:focus,
  &:active {
    box-shadow: none;
    box-shadow: 0 0 1px 0 $color-gray-medium-warm;
    border-color: transparent;
    background-color: $color-secondary-lightest;
  }

}

.prize-list-amount {
  font-size: $font-size-xl;
  text-decoration: underline;
  font-weight: bold;
}

.prize-list-place {
  font-size: $font-size-m;
}
