// Color USWDS Overrides
$visited: #406098;
$color-base: #212121;
$color-focus: #02BFE7;

/* blues */
$color-blue: #004280;
$color-navy: #13192F;
$color-gray-lighter: #DDDBD8;
$color-gray-light: #D9D6D5;
$color-gray-dark: #5B5D6A;

$color-primary-darker: #094ce9;
$color-visited: $color-navy;
$color-gray-medium-warm: #696969;
$color-gray-medium-cool: #4F5A65;

$color-impact-report-bright-blue: #0048ad;
$color-impact-report-light-blue: #3d89f4;
$color-impact-report-navy: #13192f;


/* reds/salmons */
$color-red: #DF4317;

$color-primary-alt-darkest: #bf3310;
$color-primary-alt-dark: #d85230;
$color-primary-alt-medium: #ed613e;
$color-primary-alt-light: #ee7257;
$color-primary-alt-lightest: #f89f8b;

$color-impact-report-bright-red: #de4828;

/* yellows */
$color-secondary: #F7C636;

$color-secondary-darkest: #f7c644;
$color-secondary-dark: #f7c644;
$color-secondary-light: #fdd66d;
$color-secondary-lightest: #ffe5a0;
$color-gray-lightest: #F7F7F7;
$color-blue-light: #e1f4f9;
$color-neutral-light: #F5FBFC;
$color-gray-cool-light: #f2f5f6;

/* white */
$color-offwhite: #FFFBF5;
$color-white: #F5F8FB;
$color-true-white: #FFFFFF;

// Mobile first breakpoints
$large-screen:  960px !default;
$site-max-width: 1110px !default;
$landing-max-width: 1440px !default;

// Unique colors
$color-tertiary: #f4b9cc;
$color-tertiary-darkest: #dc1f5c;
$color-tertiary-dark: #f45e8e;
$color-tertiary-light: #f4b9cc;
$color-tertiary-lightest: #F9DEDE;
$color-white-transprent: rgba(255,255,255,.9);

$color-impact-report-bright-green: #009964;

$color-bg-light: $color-offwhite;

// Typography
@import url("https://use.typekit.net/pcd3slg.css");
@font-face {
  font-family: "Silka";
  src: url("../fonts/silka/silka-regular.woff");
}
@font-face {
  font-family: "Silka";
  src: url("../fonts/silka/silka-regular.woff");
}
@font-face {
  font-family: "SilkaBold";
  src: url("../fonts/silka/silka-semibold.woff");
}
$font-serif: "Sanomat Bold", "Times New Roman", serif;
$font-serif-bold: "Sanomat Bold", "Times New Roman", serif;
$font-serif-medium: "Sanomat Medium", "Times New Roman", serif;
$font-mono: 'Chivo', monospace; // Plaak
$font-mono-alt: 'Overpass Mono', monospace;
$font-sans: aktiv-grotesk, 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Roboto', Arial, sans-serif;
$font-sans-alt: 'Silka', 'Helvetica Neue', 'Helvetica', 'Roboto', Arial, sans-serif;
$font-sans-alt-bold: 'SilkaBold', 'Helvetica Neue', 'Helvetica', 'Roboto', Arial, sans-serif;
$font-size-side-nav: 1.6rem;
$font-size-xxxs: 1.1rem;
$font-size-xxs: 1.2rem;
$font-size-xs: 1.4rem;
$font-size-s: 1.6rem;
$font-size-m: 1.8rem;
$font-size-l: 2.4rem;
$font-size-xl: 4.57rem;
$font-size-xxl: 8.5rem;


// Line-heights
$leading-xl: 1.825;
$leading-l: 1.75;
$leading-m: 1.625;
$leading-s: 1.5;
$leading-xs: 1.35;
$leading-xxs: 1.2;

// Letter-spacing
$kern-tight: -.015em;
$kern-loose: .0625em;
$kern-looser: .0825em;

// Spacing
$space-xxs: .25rem;
$space-xs: .5rem;
$space-s: 1rem;
$space-m: 1.5rem;
$space-l: 3rem;
$space-xl: 6rem;

// Setup of USWDS
$font-path: '../uswds/fonts';
$image-path: '../uswds/img';
@import 'uswds/all';
