.video-div {
  height: 350px;
  margin-bottom: $space-m;
  background-color: $color-blue-light;

}

.video-hidden {
  display: none;
}

#video-filter-form {
  position: absolute;
  z-index: 500;

  .usa-accordion-button {
    margin-right: 120px;
  }

  .filters-box {
    height: 150px;
    width: 300px;
    overflow: auto;
    z-index: 500;
    font-size: 12px;
    padding: 10px;
    position: relative;

    .filter-checkbox {
      width: auto;
    }
  }
  form [type=submit] {
    display: inline !important;
  }
}

.video-grid {
  margin-top: 350px;
  margin-bottom: 350px;
  @include media($large-screen) {
    margin-top: 250px;
  }

  .title-card {
    background-color: $color-blue-light;
    height: 200px;
    padding:20px;
  }
}
