<div>
  <h2>{{ include.header.title }}</h2>
  <p>{{ include.header.subtitle }}</p>
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="tablet:grid-col-4">
        <h2 class="font-sans-lg">Static Images</h2>
        <h3 class="font-sans-md">Facebook / Twitter / LinkedIn</h3>
        {% assign post = include.data.generic-image %}
        <img src="{{site.baseurl}}/assets/img/smtk/{{ post.image.src }}" alt="{{ post.image.alt }}"/>
        {% if post.image.title %}<p><strong>{{ post.image.title }}</strong></p>{% endif %}
        <p>
          <strong>FACEBOOK:</strong> {{ post.facebook }}
        </p>
        <p><strong>TWITTER:</strong> {{ post.twitter }}</p>
        <p><strong>LINKEDIN:</strong> {{ post.linkedin }}</p>
      </div>

      <div class="tablet:grid-col-4">
        {% assign post = include.data.instagram-image %}
        <h3 class="tablet:margin-top-5 font-sans-md">Instagram</h3>
        <img src="{{site.baseurl}}/assets/img/smtk/{{ post.image.src }}" alt="{{ post.image.alt }}"/>
        {% if post.image.title %}<p><strong>{{ post.image.title }}</strong></p>{% endif %}
        <p><strong>INSTAGRAM:</strong> {{ post.text }}</p>

      </div>
      
      <div class="tablet:grid-col-4">
        {% assign post = include.data.video %}
        <h2 class="font-sans-lg">Animations</h2>
        <h3 class="font-sans-md">Any Platform</h3>
        <div>
          <video controls class="maxw-full">
            <source src="{{site.baseurl}}/assets/img/smtk/{{ post.src }}">
          </video>
        </div>
        {% if post.image.title %}<p><strong>{{ post.title }}</strong></p>{% endif %}

      </div>
    </div>
  </div>
</div>