<div class="grid-container">
  <h2>
    2020 Census Apportionment Creative Resources
  </h2>
  <p>
    Our static posts and animations provide information and resources about apportionment.
  </p>
  <div class="grid-row margin-bottom-4">
    <div class="tablet:grid-col-4">
      <select id="cr-select">
        {% assign data = site.data.2020-data-release.creative-resources %}
        {% for option in data %}
          <option value="{{ option.title }}">{{ option.title }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  {% assign selected = data[0] %}
  {% assign isVideo = true %}
  {% if selected.isVideo == false %}
    {% assign isVideo = false %}
  {% endif %}
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col">
      <h4 class="cr-asset__title">{{ selected.resource-name }}</h4>
      <p><strong>Facebook/Twitter/LinkedIn</strong></p>
      <div class="cr-asset__asset-container--video {% unless isVideo %}display-none{% endunless %}">
        {% include sm-toolkit/video-asset.html
          data = selected.generic
          class = "cr-asset__asset--video" %}
      </div>
      <div class="cr-asset__asset-container--image {% if isVideo %}display-none{% endif %}">
        {% include sm-toolkit/static-asset.html 
          data = selected.generic
          class = "cr-asset__asset--image" %}
      </div>
    </div>

    <div class="tablet:grid-col">
      <h4 class="cr-asset__title">{{ selected.resource-name }}</h4>
      <p><strong>Instagram</strong></p>
      <div class="cr-asset__asset-container--video {% unless isVideo %}display-none{% endunless %}">
        {% include sm-toolkit/video-asset.html
          data = selected.instagram
          class = "cr-asset__asset--video" %}
      </div>
      <div class="cr-asset__asset-container--image {% if isVideo %}display-none{% endif %}">
        {% include sm-toolkit/static-asset.html 
          data = selected.instagram
          class = "cr-asset__asset--image" %}
      </div>
    </div>
  </div>
</div>