<section class="smtk-section grid-container {{include.class}}">
    <h2>Data Visualizations</h2>
    <p>To save any of these visualizations as an image, click the download icon at the bottom right. To share a link to this visualization, click the share icon at the bottom right and copy the text under “Link” to your clipboard.</p>
  {% comment %}
  <div class="margin-x-auto" id="{{ include.id }}" style="position: relative; width: 1000px; height: 1027px; overflow: hidden; display: block;">
    <noscript>
      <a href='#'><img alt='CENSUS MEASUREMENT OF RACE AND ETHNICITY  ' src='_https_&#47;&#47;public.tableau.com&#47;static&#47;images&#47;De&#47;DecennialCensusMeasurementofRaceandEthnicityAcrosstheDecades1790-2020&#47;CENSUSMEASUREMENTOFRACEANDETHNICITY&#47;1_rss.png' style='border: none'/>
      </a>
    </noscript>
    <script src="https://public.tableau.com/javascripts/api/viz_v1.js"></script>
    <iframe frameborder="0" marginheight="0" marginwidth="0" title="Data Visualization" allowtransparency="true" allowfullscreen="true" class="tableauViz" style="display: block; width: 1000px; height: 1027px; margin: 0px; padding: 0px; border: none;" src="https://public.tableau.com/views/DecennialCensusMeasurementofRaceandEthnicityAcrosstheDecades1790-2020/CENSUSMEASUREMENTOFRACEANDETHNICITY?:embed=y&amp;:showVizHome=no&amp;:host_url=https%3A%2F%2Fpublic.tableau.com%2F&amp;:embed_code_version=3&amp;:tabs=no&amp;:toolbar=yes&amp;:animate_transition=yes&amp;:display_static_image=no&amp;:display_spinner=no&amp;:display_overlay=yes&amp;:display_count=yes&amp;:language=en-US&amp;publish=yes&amp;:loadOrderID=0"></iframe>
  </div>
  <script type="text/javascript">                    
    var divElement = document.getElementById('{{ include.id }}');
    var vizElement = divElement.getElementsByTagName('iframe')[0];
    if ( divElement.offsetWidth > 800 ) { 
      vizElement.style.width='1000px'; vizElement.style.height='1027px';
    } else if ( divElement.offsetWidth > 500 ) { 
      vizElement.style.width='1000px'; vizElement.style.height='1027px';
    } else { 
      vizElement.style.width='100%'; vizElement.style.height='647px';
    }
  </script>
  {% endcomment %}
</section>