<section class="smtk-hero">
  <div class="grid-container maxw-none padding-x-0">
    <div class="grid-row">
      <div class="tablet:grid-col-8">
        <img class="cover-image" 
            src="{{ site.baseurl }}/assets/img/smtk/backgrounds/MicrosoftTeams-image-3.jpeg">
      </div>
      <div class="tablet:grid-col-4 padding-x-2 margin-x-auto text-center smtk-hero-content">
        <h2 class="text-uppercase smtk-heading--h2">Sign Up</h2>
        <p class="text-left">For the latest updates and news from the U.S. Census Bureau and partners:</p>
        <div>
          <button class="smtk-button">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</section>