<div class="grid-container">
  <h2>
    2020 Census Social Media Information
  </h2>
  <p>
    We encourage you to tag the U.S. Census Bureau and/or include a link to our posts whenever possible.
    <br/>
    Thank you for sharing the first 2020 Census results with your audience.
  </p>

  <div class="grid-row grid-gap">
    {% for section in include.data %}
      {% assign outerIndex = forloop.index0 %}
      <div class="tablet:grid-col sm-links">
        <h4 class="font-sans-md">{{ section.title }}</h4>
        {% case outerIndex %}
          {% when 0 %}
            {% for link in section.links %}
              <p>{{ link.text }}{% if link.href %}<br/>
                  <a class="smtk-wrap" href="{{ link.href }}">{{ link.href }}</a>
                {% endif %}
              </p>
            {% endfor %}
          {% when 1 %}
            <ul>
              {% for link in section.links %}
                <li class="margin-bottom-0">
                  <a class="smtk-wrap" href="{{ link.href }}" target="_blank">{{ link.text }}</a>
                </li>
              {% endfor %}
            </ul>
          {% else %}
            {% assign link = section.links[0] %}
            <p>
              <a class="smtk-wrap" href="{{ link.href }}">{{ link.text }}</a>
            </p>

            {% assign link = section.links[1] %}
            <p class="what-is-apportionment">
              {{ link.text }}
            </p>
            {% for link in toLoop %}
              <p>
                {% if link.href %}
                  <a class="smtk-wrap" href="{{ link.href }}">{{ link.text }}</a>
                {% else %}
                  {{ link.text }}
                {% endif %}
              </p>
            {% endfor %}
            <ul>
              {% for link in section.links %}
                {% if forloop.index0 > 1 %}
                <li class="margin-y-0">
                  <a class="smtk-wrap" href="{{ link.href }}">{{ link.text }}</a>
                </li>
                {% endif %}
              {% endfor %}
            </ul>
          {% endcase %}
      </div>
    {% endfor %}
  </div>
</div>