<section class="smtk-section {{ include.class }}">
  <div class="grid-container">
    <h2>{{ include.data.title }}</h2>
    <p>{{ include.data.subtitle }}</p>
    <div class="grid-row grid-gap">

      <div class="tablet:grid-col-6">
        {% assign data = include.data.videos %}
        <h2>Animation</h2>
        <div class="grid-row grid-gap">
          {% for img in data %}
            <div class="">
              {% include sm-toolkit/static-asset.html data=img %}
            </div>
          {% endfor %}
        </div>
        <span>{{ include.data.post | markdownify }}</span>
      </div>
      
      <div class="tablet:grid-col-6">
        {% assign data = include.data.images %}
        <h2>Graphic</h2>
        <div class="grid-row grid-gap">
          {% for img in data %}
            <div class="">
              {% include sm-toolkit/static-asset.html data=img %}
            </div>
          {% endfor %}
        </div>
        <span>{{ include.data.post | markdownify }}</span>
      </div>
      
      
    </div>
  </div>
</section>