<section id="sample-posts" class="smtk-section grid-container">
  <h2>Sample Social Media Posts</h2>
  {% assign socialPosts = site.data.smtk.redistricting.social-posts %}
  
  {% include sm-toolkit/assets.html header=socialPosts.state-profiles.header
    data=socialPosts.state-profiles
    class="margin-y-2" %}

  {% include sm-toolkit/assets.html header=socialPosts.redistricting-results.header
    data=socialPosts.redistricting-results
    class="margin-y-2" %}

  {% include sm-toolkit/assets.html header=socialPosts.america-counts.header
    data=socialPosts.america-counts
    class="margin-y-2" %}
</section>