<section class="smtk-section grid-container">
  <h2 id="sample-posts">Sample Social Media Posts</h2>
  {% assign socialPosts = site.data.smtk.redistricting.social-posts %}
  {% include sm-toolkit/assets.html header=socialPosts.release-day.header
    data=socialPosts.release-day
    class="margin-y-2" %}
  {% include sm-toolkit/assets.html header=socialPosts.release-video.header
    data=socialPosts.release-video
    class="margin-y-2" %}
  {% include sm-toolkit/assets.html header=socialPosts.race-ethnicity.header
    data=socialPosts.race-ethnicity
    class="margin-y-2" %}

</section>