{% assign data = include.data %}
{% assign src= site.baseurl | append: "/assets/img/smtk/" | append: data.src %}

<h3 class="font-sans-md">{{ data.category }}</h3>
<img src="{{src}}" alt="{{ data.alt }}" {% if include.class %}class="{{ include.class }}"{% endif %}/>
<p>
  {% if data.hasPreview %}
    <a onclick="openLightbox('{{ data.src }}', '{{ data.alt }}')">PREVIEW</a> | 
    {% endif %}
  <a href="{{src}}" download>DOWNLOAD</a>
  {% if data.title %}<br/><strong>{{ data.title }}</strong>{% endif %}
</p>