{% assign data = site.data.smtk.Apportionment-2020-table | sort: "name" %}
<div class="grid-container">
  <h2>
    2020 Census Population Count by State/Territory
  </h2>
  <p>
    Our static posts and animations provide population counts for all 50 states, the District of Columbia, and Puerto Rico. Each product shows changes from the 2010 Census to the 2020 Census by geography.
  </p>
  
  <select id="areaAsset__select">
    {% for option in data %}
      <option value="{{ option.AREA }}">{{ option.AREA }}</option>
    {% endfor %}
  </select>

  <div class="grid-row grid-gap">
    {% assign name=data[0].AREA %}
    <div class="grid-col-12">
      <h3 id="areaAsset__title">{{ name }}</h3>
    </div>

    {% assign lightboxBase = site.baseurl | append: "/assets/img/smtk/" %}

    {% assign folder = "States_Animations/" | append: name %}
    {% assign imgSuffix = folder | append: "/USCB_50 States Data Viz_" | append: name | append: "Still001.jpg" %}
    {% assign imgSrc = lightboxBase | append: imgSuffix %}
    {% assign imgAlt="An image of the USA with Alabama shaded lighter along with data indicating how much its population has changed since 2010" %}


    <div class="tablet:grid-col-6">
      <img src="{{ imgSrc }}" id="areaAsset__img" alt="{{ imgAlt }}"/>
      <p>
        <a id="areaAsset__preview">PREVIEW</a> |
        <a id="areaAsset__download--image" href="{{ imgSrc }}" download>DOWNLOAD</a>
      </p>
    </div>
    <div class="tablet:grid-col-6">
      
    </div>
  </div>
  <span id="areaAsset__post">{{ data[0].GENERIC-TEXT }}</span>
</div>