{% assign data = include.data %}
{% assign srcBase = site.baseurl | append: "/assets/img/smtk/" %}
{% assign downloadSrc = srcBase | append: data.src.last %}
{% if data.mp4Hosted %}
  {% assign downloadSrc = data.src.last %}
{% endif %}

{% if data.title %}<h3 class="font-sans-md cr-asset__title">{{ data.title }}</h3>{% endif %}
{% if data.category %}<h3 class="font-sans-md cr-asset__platform">{{ data.category }}</h3>{% endif %}

<video controls {% if data.mp4Hosted %}controlslist="nodownload"{% endif %}
  class="maxw-full {% if include.class %}{{ include.class }}{% endif %}">
  {% for src in data.src %}
    {% if data.mp4Hosted %}
      <source src="{{ src }}">
    {% else %}
      <source src="{{ srcBase | append: src }}">
    {% endif %}
  {% endfor %}
</video>
<p>
  <a href="{{ downloadSrc }}" title="Download {{ data.src.last }}" aria-label="Download {{ data.src.last }}" download>
    DOWNLOAD
  </a>
</p>