{% if hero %}
  <section class="usa-hero">
      <div class="usa-grid">
        <div class="usa-width-three-fourths">
          {% if hero.callout %}
            <h1 class="large-header">
              {% if hero.callout.text %}
                <span class="usa-hero-callout-alt">{{ hero.callout.text }}</span>
              {% endif %}
            </h1>
          {% endif %}
          {{ hero.content | markdownify }}
        </div>
        <div class="usa-width-one-fourth"></div>
      </div>

      {% if hero.callout.subtext %}
      <div class="usa-grid">
        <div class="usa-width-seven-twelfths">
            <p class="usa-hero-callout-subtext">{{ hero.callout.subtext }}</p>
            {% endif %}
        {% if hero.button %}
        <div class="button-wrapper" style="display: inline-block; margin-right: 5%;">
          <div class="button-bg yellow"></div>
          <a class="usa-button usa-button-big usa-button-primary" href="{{ hero.button.href | relative_url }}">{{ hero.button.text }}</a>
        </div>
        {% endif %}

        {% if hero.button-cta %}
        <div style="display: inline-block;" class="button-wrapper">
          <div class="button-bg blue"></div>
          <a class="usa-button usa-button-big usa-button-primary" style="padding-left:20px;" target="_blank" href="{{ hero.button-cta.href }}">{{ hero.button-cta.text }}&nbsp <img src="{{site.baseurl}}/assets/img/links/external-link-inverse.svg" alt="external link" height="12" width="12" style="padding-top:2px"></a>
        </div>
        {% endif %}
        </div>
        <div class="usa-width-five-twelfths"></div>
      </div>
  </section>
{% endif %}
