{% if hero %}
  <section class="usa-hero">
      <div class="usa-grid">
        <div class="usa-width-two-thirds">
          {% if hero.callout %}
            <h1 class="large-header">
              {% if hero.callout.alt %}
                <span class="usa-hero-callout-alt">{{ hero.callout.alt }}</span>
              {% endif %}
              <span class="subheader">{{ hero.callout.text | default: hero.callout }}</span>
            </h1>
            {% if hero.callout.subtext %}
              <p class="usa-hero-callout-subtext">{{ hero.callout.subtext }}</p>
            {% endif %}
          {% endif %}
          {% if hero.link %}
            <a class="usa-hero-link" href="{{ hero.link.href | relative_url }}">
              {{ hero.link.text }}
            </a>
          {% endif %}
          {{ hero.content | markdownify }}
          {% if hero.button %}
          <a class="usa-button usa-button-big usa-button-secondary button-arrow" href="{{ hero.button.href | relative_url }}">
            {{ hero.button.text }}
            <span class="subtext">{{ hero.button.subtext | liquify }}</span>
          </a>
        </div>
        <div class="usa-width-one-third"></div>
        {% endif %}
      </div>
        {% if hero.caption %}
        <div class="usa-grid">
          <div class="usa-width-one-third">
            <div class="usa-accordion">
              <div id="amendment-1" class="usa-accordion-content caption">
                <p>
                  {{ hero.caption | liquify }}
                </p>
              </div>
              <button class="usa-accordion-button" aria-expanded="false" aria-controls="amendment-1">About this Picture</button>
            </div>
          </div>
        </div>
      {% endif %}
  </section>
{% endif %}
