{% if hero %}
  {% if hero.color == "blue" %}
  <div class="usa-hero-interior-bg">
    {% include svg/hero-blue-icons.svg %}
  </div>

  <section class="usa-hero-interior usa-hero">
    <div class="usa-grid">
      <div class="usa-width-three-fourths">
        {% if hero.callout %}
          <h1 class="large-header white">
            {% if hero.callout.text %}
              <span>{{ hero.callout.text }}</span>
            {% endif %}
          </h1>
        {% endif %}
      </div>
      <div class="usa-width-one-fourth"></div>
    </div>
    {% if hero.callout.subtext %}
    <div class="usa-grid">
      <div class="usa-width-seven-twelfths">
          <p class="usa-hero-callout-subtext white">{{ hero.callout.subtext }}</p>
          {% endif %}
        </div>
        <div class="usa-width-five-twelfths"></div>
    </div>
    </section>


  {% elsif hero.color == "yellow" %}
  <div class="usa-hero-interior-bg">
    {% include svg/hero-yellow-icons.svg %}
  </div>

  <section class="usa-hero-interior usa-hero">
    <div class="usa-grid">
      <div class="usa-width-three-fourths">
        {% if hero.callout %}
          <h1 class="large-header dark">
            {% if hero.callout.text %}
              <span>{{ hero.callout.text }}</span>
            {% endif %}
          </h1>
        {% endif %}
      </div>
      <div class="usa-width-one-fourth"></div>
    </div>
    {% if hero.callout.subtext %}
    <div class="usa-grid">
      <div class="usa-width-seven-twelfths">
          <p class="usa-hero-callout-subtext dark">{{ hero.callout.subtext }}</p>
          {% endif %}
        </div>
        <div class="usa-width-five-twelfths"></div>
    </div>
    </section>

  {% elsif hero.color == "multi" %}
  <div class="usa-hero-interior-bg">
    {% include svg/stacked-prize-background.svg %}
  </div>

  <section class="usa-hero-interior usa-hero">
    <div class="usa-grid">
      <div class="usa-width-three-fourths bottom-space">
        {% if hero.callout %}
          <h1 class="medium-header dark">
            {% if hero.callout.text %}
              <span>{{ hero.callout.text }}</span>
            {% endif %}
          </h1>
        {% endif %}
      </div>
      <div class="usa-width-one-fourth"></div>
    </div>
    {% if hero.callout.subtext %}
    <div class="usa-grid">
      <div class="usa-width-seven-twelfths">
          <h2>{{ hero.callout.subtext }}</h2>
          {% endif %}
        </div>
        <div class="usa-width-five-twelfths"></div>
    </div>
    {% if hero.callout.context %}
    <div class="usa-grid">
      <div class="usa-width-five-twelfths">
          <p>{{ hero.callout.context }}</p>
          {% endif %}
        </div>
        <div class="usa-width-seven-twelfths"></div>
    </div>
    {% if hero.callout.deadline %}
    <div class="usa-grid">
      <div class="usa-width-seven-twelfths">
          <h2>{{ hero.callout.deadline }}</h2>
          {% endif %}
        </div>
        <div class="usa-width-five-twelfths"></div>
    </div>
    </section>


  {% elsif hero.color == "red" %}
  <div class="usa-hero-interior-bg">
    {% include svg/hero-red-icons.svg %}
  </div>

  <section class="usa-hero-interior usa-hero">
    <div class="usa-grid">
      <div class="usa-width-three-fourths">
        {% if hero.callout %}
          <h1 class="large-header white">
            {% if hero.callout.text %}
              <span>{{ hero.callout.text }}</span>
            {% endif %}
          </h1>
        {% endif %}
      </div>
      <div class="usa-width-one-fourth"></div>
    </div>
    {% if hero.callout.subtext %}
    <div class="usa-grid">
      <div class="usa-width-seven-twelfths">
          <p class="usa-hero-callout-subtext white">{{ hero.callout.subtext }}</p>
          {% endif %}
        </div>
        <div class="usa-width-five-twelfths"></div>
    </div>
    </section>

  {% endif %}

{% endif %}
