---
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en-US' }}" class="no-js">
  <head>
    {% include meta.html %}
    {% include styles.html %}
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155922885-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-155922885-1');
    </script>
  </head>

  <body class="{{ layout.class }} page-{{ page.title | slugify }} {{ page.class }} {% if page.section_image %} page-background {% endif %} {% if page.hero.image %} page-background {% endif %}"
{% if page.section_image %} style="background-image: url('{{ page.section_image | relative_url }}');" {% endif %}
{% if page.hero.image %} style="background-image: url('{{ page.hero.image | relative_url }}');" {% endif %}

    <!--  "An Official Website of the US Government" banner -->
    {% include banner.html %}
    {% include header.html %}

    <main id="main-content"{% for _attr in layout.main %} {{ _attr[0] }}="{{ _attr[1] }}"{% endfor %}>
    {{ content }}
    </main>

    {% include footer.html %}
    {% include scripts.html %}
    {% if page.layout == 'landing' %}
  </div>
    {% else %}
    {% endif %}
  </body>
</html>
