---
layout: base
class: landing-layout
---

{% assign hero = page.hero %}
{% include components/hero.html %}

{% if hero.video %}
<div id="video">
  <video autoplay muted loop poster="{{site.baseurl}}/assets/img/video-placeholder.png">
    <source src="{{ site.baseurl }}{{ hero.video.horizontal }}" type="video/mp4">
  </video>
</div>
<div id="video-mobile">
  <img src="{{ site.baseurl }}{{ hero.video.vertical }}" />
</div>
<!--
  <img src="{{ site.baseurl }}{{ hero.video.horizontal }}" />
  <video autoplay muted loop id="video">
    <img id="video" src="{{ site.baseurl }}{{ hero.video }}" />
  </video>
  -->
{% endif %}

{% if page.tagline and page.intro %}
<section class="usa-grid usa-section">
  <div class="usa-width-one-third">
    <h2>{{ page.tagline }}</h2>
  </div>
  <div class="usa-width-two-thirds">
    {{ page.intro | markdownify }}
  </div>
</section>
{% endif %}

{% capture _graphics %}
  {% include graphic-list.html graphics=page.graphics %}
{% endcapture %}
{% if page.graphics_position != 'after' %}{{ _graphics }}{% endif %}

    {{ content }}

{% if page.graphics_position == 'after' %}{{ _graphics }}{% endif %}
