---
layout: base
class: secondary-narrow-layout
---
{% assign sidenav = site.data.navigation[page.sidenav] | default: page.sidenav %}
{% if sidenav %}
<div class="usa-grid">
<aside class="usa-width-one-fourth usa-layout-docs-sidenav">
  <div class="usa-section">
  {% include sidenav.html links=sidenav %}
</div>
</aside>

<div class="usa-width-three-fourths">
  <div class="usa-section usa-content">
    {{ content }}
  </div>
</div>
</div>
{% else %}
<div class="usa-layout-docs-main_content usa-content">
  <div class="usa-section usa-content usa-grid">
    {{ content }}
  </div>
</div>
{% endif %}
