---
layout: base
class: test-layout
---
{% assign sidenav = site.data.navigation[page.sidenav] | default: page.sidenav %}
{% assign hero = page.hero %}

{% include components/interior-hero.html %}

{% if sidenav %}
<div class="usa-grid">
<aside class="usa-width-one-fourth usa-layout-docs-sidenav">
  <div class="usa-section">
  {% include sidenav.html links=sidenav %}
</div>
</aside>

<div class="usa-width-three-fourths">
  <div class="usa-section usa-content usa-sans">
    {{ content }}
  </div>
</div>
</div>

{% else %}

<div class="usa-layout-docs-main_content usa-content">
  <div class="usa-section usa-content usa-grid">
    {{ content }}
  </div>
</div>
{% endif %}
